.Login{
    padding-top: 100px;
    margin-left: 500px;
  }
  .Loginn{
    background-image: url("https://media.istockphoto.com/id/1128533356/photo/steel-scratches-hexagon-abstract-background-of-bright-orange-color-lines-of-minimal.jpg?b=1&s=170667a&w=0&k=20&c=jWfzsTCVxSYTia9RrO0eMmJVhLj57IA8cNK5jeVG8B4=");
    background-repeat: no-repeat;
    height: 561px;
  
  background-size: 100%;
  }